a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.tabs_dw {
  min-width: 490px;
}

.main_container,
.tabs_dw {
  @media only screen and (max-width: 560px) {
    padding: 0;
    margin: 0;
    min-width: auto;
    width: 100%;
  }
}